:root {
    --primaryColor: #055159;
    --secondaryColor: #0D7F8C;

    --primaryLightColor: #29A6A6;
    
    --colorOne: #eff5ff;
    
    --placeholderColor: #735D58;

    /* Font Sizes */
    --fontXXL: 36px;
    --fontXL: 30px;
    --fontLG: 24px;
    --fontMD: 18px;
    --fontSM: 14px;
    --fontXS: 12px;
}